<tr class="border-b dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700">
    <td class="px-6 py-4 text-center">
        <%= teacher_subject.subject.name_subject %>
    </td>
    <td class="px-6 py-4 text-center">
        <%= teacher_subject.teacher.name %> <%= teacher_subject.teacher.last_name %>
    </td>
     <td class="px-6 py-4 text-center">
        7
    </td>
     <td class="px-6 py-4 text-center">
        9
    </td>
    <td class="px-6 py-4 text-center">
        9
    </td>
    <td class="px-6 py-4 text-center">
        8.2
    </td>
</tr>
